body {
    margin: 0;
    padding: 0;
    background-image: url("bg.jpg");
    color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: .5%
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

    nav ul {
        list-style: none;
        display: flex;
    }

    nav li {
        margin: 0 10px;
        font-weight: bold;
    }

    nav a {
        color: #D9D9D9;
        text-decoration: none;
    }





form {

    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin:20px auto;
    padding:50px;
    width: 15%;


}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

    button[type="submit"]:hover {
        background-color: #3e8e41;
    }

</style >
