body {
	margin: 0;
	padding: 0;
	background-image: url("bg.jpg");
	color: #000;
	text-align: center;
	background-image: url(bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: Arial, sans-serif;
	margin:.5%
}
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.logo {
	font-size: 20px;
	font-weight: bold;
	font-family: monospace;
}


nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

	nav ul {
		list-style: none;
		display: flex;
	}

	nav li {
		margin: 0 10px;
		font-weight: bold;
	}

	nav a {
		color: #D9D9D9;
		text-decoration: none;
	}

		nav a.active {
			color: #000000;
			background-color: #fff;
			padding: 5px 10px;
			border-radius: 5px;
		}


       


.login-container {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	width: 15%;
}

h1 {
	margin-bottom: 20px;
}

form {
	display: inline-block;
	text-align: left;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	border-radius: 5px;
	border: none;
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
}

input[type="button"] {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}
